@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face	{
				font-family: Lato;
				src: url('..fonts/..fonts/Lato-BlackItalic.ttfLato-Black.ttf');
				src: url('..fonts/Lato-BlackItalic.ttf');
				src: url('..fonts/Lato-Bold.ttf');
				src: url('..fonts/Lato-BoldItalic.ttf');
				src: url('..fonts/Lato-Italic.ttf');
				src: url('..fonts/Lato-Light.ttf');
				src: url('..fonts/Lato-LightItalic.ttf');
				src: url('..fonts/Lato-Regular.ttf');
				src: url('..fonts/Lato-Thin.ttf');
				src: url('..fonts/Lato-ThinItalic.ttf');
}
/*search filter*/

option 	{
			background: rgba(196, 196, 196, 1);
			font-size: 18px;
}

.input-group-prepend, .custom-select, .range	{
											margin-left: 5em;
											width: 30em;
}

.search_by_price_range {
							border-radius: 5px;
							height: 26px;
							border: 1px solid #c4c4c4;
}

.max 	{
			margin-left: 2em;
}

form 	{
			border: 1px solid #c4c4c4;
			margin-top: 2em;
			padding-bottom: 2em;
			padding-left: 1em;
			border-radius: 5px;
}

.input-group-prepend, .price_range 	{
							margin-top: 2em;
}

.select_options	{
					border-top: 1px solid white;
}

.long	{
			width: 100%;
			margin-top: 1em;
			background-color: #c4c4c4;
			color: black;
}
/*Navigation Section*/

.navbar	{
				border-color: #c4c4c4;
				background-color: #c4c4c4;
}

.logo_top	{
				margin-left: 25px;
}

.img_profile	{
					width: 24px;
					float: right;
					margin-left: 5px;
					margin-right: 10px;
}

.user_name	{
				font-size: 12px;
				float: right;
}

.background_img1	{
						float: right;
}
/*footer section start*/
.footer_section	{
					background-color: #c4c4c4;
					padding-top: 48px;
}
.listed_links, .listed_items	{
									list-style-type: none;
									color: black;
									text-decoration: none;
									margin-bottom: 20%;
									cursor: pointer;
}
.listed_links, .listed_items :hover	{
									list-style-type: none;
									color: black;
									text-decoration: none;
}
.subscribe	{
				height: 36px;
				border-radius: 5px;
				border: 1px solid #ffffff;
				width: 70%;
				margin-top: 5%;
}
.footer_bottom	{
					background-color: #c4c4c4;
}
.copywrite	{
				display: block;
				text-align: center;
}
.social1	{
				margin-left: 5px;
				height: 24px;
				width: 24px;
}

/*index page CSS begins here*/
.search_bar	{
				height: 36px;
				border-radius: 20px;
				width: 60%;
				border: 1px solid #c4c4c4;
				margin-bottom: 5px;
				text-align: center;
}

.slide	{
			width: 600px;
			text-align: center;
}

#SpacesNG_carousel	{
						margin: auto;
}

.carousel-caption	{
						background: rgba(255, 255, 255, 0.75);
						color: black;
}
.user_location	{
					margin-top: 20px;
					margin-bottom: 20px;
}

.grey	{color: #c4c4c4;
}

.featured_img	{
					width: 300px;
					height: 200px;
					border-radius: 10px;
					filter: blur(1px);
					margin-top: 5px;
}

.featured_text	{
					width: 300px;
					cursor: pointer;
					position: relative;
					top: -9em;
					background: rgba(196, 196, 196, 0.6);
					padding-left: 2px;
					padding-right: 2px;
					padding-top: 5px;
					padding-bottom: 5px;
}

.dummy_text	{
				visibility: hidden;
}

.services_img	{
					margin-top: 5px;
}

.featured_services {
						margin-bottom: 20px;

}

.button_view	{
					float: right;
					box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
					background: rgba(196, 196, 196, 1);
}

.explore_services	{
						position: relative;
						top: -5em;
						margin-left: 2em;
						width: 250px;
}

.service_status	{
					color: white;
					font-weight: bold;
					background: rgba(196, 196, 196, 0.6);
}

.button_explore	{
					color: white;
					margin-left: 5em;
					background: linear-gradient(180deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 100%);
					box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.bottom_footer	{
					background: rgba(196, 196, 196, 0.4);
}

.copywrite	{
				margin-top: 10px;
				margin-bottom: 10px;
}

.Our_Services	{
					width: 300px;
					height: 200px;
					border-radius: 5px;
}

.spacesNG_services	{
						margin-top: 20px;
}

.last_service_row	{
						margin-bottom: 20px;
}

.marketing	{
				margin-bottom: 50px;
}

.underline	{
				text-decoration: underline;
				color: black;
}

body	{
			background-image: url('https://res.cloudinary.com/dfwef4nfr/image/upload/v1627034801/SpacesNG/bg_img3_fo219k.png'), url('https://res.cloudinary.com/dfwef4nfr/image/upload/v1627034801/SpacesNG/bg_img2_hzrml3.png'), url('https://res.cloudinary.com/dfwef4nfr/image/upload/v1627034801/SpacesNG/bg_img1_lwvli9.png');
			background-repeat: no-repeat;
			background-position: bottom left, center, top right;
}

/*location switch here*/

.toggle	{
			position: relative;
			margin-top: 10px;
}

.toggle input	{
					position: absolute;
					opacity: 0;
					width: 0;
					height: 0;
}

.toggle .On_Off	{
					color: black;
					margin-top: 5px;
					text-align: center;
					display: block;
					font-size: 7px;
}

.slider	{
			position: relative;
			display: block;
			cursor: pointer;
			background-color: #c4c4c4;
			transition: 0.4s;
			width: 50px;
			height: 20px;
}

.slider:before	{
					content: "";
					position: absolute;
					height: 20px;
					background-color: #ffffff;
					background-image: url('https://res.cloudinary.com/dfwef4nfr/image/upload/v1627035047/SpacesNG/grain_cxkpx8.svg');
					background-size: 20px;
					width: 25px;
					border: 1px solid black;
					top:;
					left: 1px;
}

input:checked + .slider	{
							background-color: white;
							box-shadow: inset 0 0 12px #c4c4c4;
}

input:checked + .slider:before	{
									transform: translateX(30px);
}

.slider.round	{
					border-radius: 5px;
}

.slider.round::before	{
							border-radius: 5px;
}

.carousel-indicators	{
							visibility: hidden;
}

.featured_text	{
					text-align: left;
}


@media only screen and (max-width: 360px)	{
											.subscribe	{
															margin-bottom: 8px;
											}
											.search_location	{
																	display: block;
																	width: 100%;
											}
											#SpacesNG_carousel	{
																	margin: auto;
																	width: 300px;
																	height: 150px;
											}
											.user_location	{
																margin-top: 100px;
											}
											.carousel-caption	{
																	font-size: 9px;
											}
											.carousel-indicators	{
																	visibility: hidden;
											}
											.search_button	{
																width: 200px;
																margin-left: 40px;
											}
											.featured_header1	{
																	font-size: 12px;
																	font-weight: bolder;
																	text-align: center;
											}
											.marketing_text	{
															text-align: right;
											}
											select 	{
														width: 50%;
											}
											form 	{
														width: 58%;
											}
											.max	{
														margin-left: 1em;
														margin-top: 1em;
											}
											.search_by_price_range	{
																		width: 100px;
											}
											.input-group-prepend, select, .range	{
																						margin-left: 3em;
											}
											.download_app1, .download_app2	{
																				margin-left: 3em;
											}

}
/*Index Page ends here*/

/*Explore SpacesNG starts here*/

.background_layer	{
						background-color: rgba(196, 196, 196, 0.4);
						opacity: 1;
						border-radius: 10px;
						margin-bottom: 1em;
}

section 	{
				background-color: #AAA7A6;
				padding: 2em;
				border-radius: 5px;
				margin-top: 1em;
				margin-bottom: 1em;
}

.small_carousel_explore	{
							width: 20em;
							height:12em;
							margin-top: 1em;
							margin-left: 2em;
							border-radius: 0.5em;
}


.business_info	{
					background-color: white;
					border-radius: 0.5em;
					box-shadow: 0px 4px 4px 0px;
}

.rating	{
			text-align: center;
			margin-top: 1.5em;
}

.rating_text	{
					font-size: 12px;
}

.action_btns	{
					margin-top: 1em;
}

.explore_rating_table, td	{
							border: hidden;
							/*margin-top: 3px;*/
}

.explore_rating_table	{
							margin-top: 0.5em;
							margin-left: 2em;
}

.marketing_content	{
						font-size: 12px;
}

.marketing_button	{
						/*box-shadow: 0px 0px 4px 0px;*/
						box-shadow: 0px 4px 4px 0px #00000040;
						box-shadow: 0px 4px 4px 0px #00000040;
						box-shadow: 0px 4px 4px 0px #00000040;
						box-shadow: 0px 4px 4px 0px #00000040;
						background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
						linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
						linear-gradient(0deg, #C4C4C4, #C4C4C4);
}

.phone, .address	{
						color: #c4c4c4;
						font-style: italic;
}

.page-number, .glyphicon-chevron-left, .glyphicon-chevron-right, .glyphicon-arrow-left, .glyphicon-arrow-right	{
																													color: black;
}

.pagination > li > a	{
						background-color: rgba(196, 196, 196, 1);
}

.navigation_pagination	{
							float: right;
}

@media only screen and (max-width: 360px)	{
												.small_carousel_explore	{
																			width: 200px;
												}
												.explore_rating_table	{
																			margin-left: 2em;
																			margin-top: 1em;
												}
} 

/*SpacesNG Page without Login starts here*/
.Login	{
			margin-top: 0.5em;
			margin-right: 5em;
			font-style: bold-italic;
			font-size: 18px;
			color: white;
}

/*modal for Login Starts here*/
.LoginWithGoogle	{
						margin-top: 1em;
						width: 90%;
						box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.EmailAddress	{
					width: 90%;
					box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
					border: 1px solid #c4c4c4;
}

.DarkURL	{
				color: black;
				text-decoration: underline;
				font-size: 9px;
}

.small 	{
			font-size: 9px;
}

.Login_bottom	{
					margin-top: 2em;
					margin-bottom: 4em;
}

.MyPassword	{
				margin-top: 2em;
}

.RememberMe	{
				font-size: 12px;
}

.Facebook-icon, .Google-icon	{
									width: 10px;
									margin-right: 3em;
}

.LoginWithSocial	{
						color: white;
}

.checkbox	{
				display: block;
				margin-top: 1em;
}

.modal-title	{
					text-align: center;
}


@media only screen and (max-width: 360px)	{
												.Login	{
															margin-right: 1em;
												}
												.LoginWithSocial	{
																		font-size: 9px;
												}
												.LoginImg	{
																display: none;
												}

}

/*SpacesNG Page without Login ends here*/
/*Modal for login ends here*/
/*modal for signup starts here*/
.SignUp_btn		{
					margin-bottom: 2em;
					margin-top: 1em;
}

.ConfirmEmailAddress	{
							margin-top: 2em;
}

.SignUp_link	{
					color: black;
					text-decoration: none;
}
/*modal for signup ends here*/

/*Account Opening Forms Start here*/
/*Account Opening Form Page 1*/
.progress	{
				margin-top: 3em;
				margin-bottom: 3em;
}
.register, .additional_info	{
								width: 90%;
								border: 1px solid #c4c4c4;
								height: 32px;
								margin-top: 2em;
								border-radius: 2px;
}

#country, .LocalGovt, #state, .bank	{
									margin-top: 2em;
									box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
									margin-right: 2em;
									width: 90%;
}

.bank 	{
			/*margin-bottom: 2em;*/
}

.buttonsAtTheBottom		{
							margin-top: 25em;
}

.registration_holder		{
									box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
									margin-bottom: 3em;
									background: rgba(196, 196, 196, 0.6);
}

.AccountOpeningBgImg		{
									width: 100%;
}

.RegButton_navigation	{
							margin-top: 3em;
}

.SignUp_link:hover 	{
						text-decoration: none;
						color: black;
}

.RegPg1	{
			margin-top: 1em;
}

.Cancel	{
			margin-bottom: 0.5em;
}

.register, .additional_info 	{
									text-align: center;
}

.lastBtn	{
				margin-bottom: 0.5em;
}

@media only screen and (max-width: 360px)	{
												.AccountOpeningBgImg	{
																			display: none;
												}
}
